* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-paragraph {
    color: rgba(0, 0, 0, 0.8);
    margin: 1rem 0;
    line-height: 1.4rem;
}
.common-btn {
    padding: 0.8rem 1.5rem;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.common-h2 {
    font-size: 2rem;
    font-weight: 700;
}
.common-grey {
    color: rgba(0, 0, 0, 0.9);
}

body {
    font-family: "Poppins", sans-serif;
}

#header #header-banner {
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.3)
        ),
        url("./images/donation0.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10rem;
    text-align: center;
}
#header #header-banner #banner-content {
    max-width: 50%;
    margin: 0 auto;
}
#header #header-banner h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#header #header-banner p {
    color: rgba(255, 255, 255, 0.8);
}

#main #donate-today {
    text-align: center;
    margin: 5rem auto;
    max-width: 50%;
}
#main #donate-today #donation-amount-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

/* Here, label has its style */
#main #donate-today #donation-amount-container > label {
    padding: 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(245, 245, 245, 0.9);
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

/* Visibility is hidden of the circle of radio button. */
#main #donate-today #donation-amount-container input {
    visibility: hidden;
}

/* selects and highlight the label only when radio input type is checked */
#main
    #donate-today
    #donation-amount-container
    input[type="radio"]:checked
    + label {
    border: 1px solid #ff5959;
    color: #ff5959;
}
#main #donate-today #custom-amount {
    width: 100%;
    border: none;
    border-bottom: 2px solid #919191;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
    transition: all 0.2s ease;
}
#main #donate-today #custom-amount:focus {
    outline: none;
    border-bottom: 2px solid #ff5959;
}

#main #donate-plan {
    max-width: 80%;
    margin: 3rem auto;
}
#main #donate-plan > h2,
#donate-plan > p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#main #donate-plan #plan-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}
#main #donate-plan #plan-container .plan {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
}
#main #donate-plan #plan-container .food {
    background-color: #edf5f6;
}
#main #donate-plan #plan-container .shelter {
    background-color: #ffeeee;
}
#main #donate-plan #plan-container .education {
    background-color: #fff4d6;
}
#main #donate-plan #plan-container .plan h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#main #donation-blogs {
    max-width: 80%;
    margin: 5rem auto;
}
#main #donation-blogs .blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

/* this will rotate every event div to row reverse position of donation blogs */
#main #donation-blogs .blog:nth-child(even) {
    flex-direction: row-reverse;
}
#main #donation-blogs .blog .blog-text {
    max-width: 45%;
}
#main #donation-blogs .blog img {
    width: 45%;
    border-radius: 10px;
}

#main #get-updates {
    max-width: 80%;
    margin: 6rem auto;
    text-align: center;
}
#main #get-updates p {
    margin: 1rem auto;
    max-width: 40%;
}
#main #get-updates .upadte-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #fff4d6;
    padding: 4rem;
    width: 60%;
    margin: 2rem auto;
}
#main #get-updates .upadte-box input {
    padding: 0.8rem;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1rem;
    outline: none;
}

#footer {
    background-color: #0b0d17;
    text-align: center;
    padding: 2rem 0;
}
#footer #footer-content h2 {
    font-family: cursive;
    color: #ff5959;
    font-size: 1.8rem;
}
#footer #footer-content p {
    color: rgba(255, 255, 255, 0.7);
    margin: 1rem auto;
    max-width: 40%;
}

@media screen and (max-width: 639.5px) {
    #header #header-banner {
        padding: 2rem;
    }
    #header #header-banner #banner-content {
        max-width: 100%;
    }
    #header #header-banner h1 {
        font-size: 2rem;
    }

    #main #donate-today {
        max-width: 90%;
    }
    #main #donate-today #donation-amount-container {
        flex-wrap: wrap;
        gap: 1rem;
    }
    #main #donate-today #donation-amount-container > label {
        padding: 1rem;
        font-size: 0.9rem;
    }

    #main #donate-plan > h2,
    #donate-plan > p {
        width: 100%;
    }
    #main #donate-plan #plan-container {
        flex-direction: column;
    }

    #main #donation-blogs {
        max-width: 90%;
    }
    #main #donation-blogs .blog {
        flex-direction: column-reverse;
    }
    #main #donation-blogs .blog:nth-child(even) {
        flex-direction: column-reverse;
    }
    #main #donation-blogs .blog .blog-text {
        max-width: 95%;
    }
    #main #donation-blogs .blog img {
        width: 95%;
    }

    #main #get-updates{
        max-width: 95%;
    }
    #main #get-updates p{
        max-width: 100%;
        text-align: justify;
    }
    #main #get-updates .upadte-box{
        flex-direction: column;
        width: 95%;
        padding: 2rem;
        gap: 1rem;
    }
    #main #get-updates .upadte-box input{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
}
